@import url('https://fonts.googleapis.com/css2family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2family=Reddit+Mono&display=swap');

/* #095a81 */
:root {
  --color-white: #EEEEED;
  --color-dark: #2B2D42;
  --color-grey: #8D99AE;
  --color-black: #000000;
  --color-blue: #064789;
  --color-blue-sky: #D8B6A4;
}

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  height: 12px;
  width: 8px;
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: grey;
  -webkit-box-shadow: 0px, 1px, 2px, rgba(0, 0, 0, 0.75);
}
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color-white);
  font-family: 'Mate SC', Sans-serif;
  overflow-x: hidden;
}

a, li, button, i,.button {
  text-decoration: none;
  outline: none !important;
  list-style: none;
  transition: 0.5s;
}


/* NAVBAR */
header{
  position: fixed;
  width: 100%;
  z-index: 99999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--color-blue);
  transition:0.5s;
  
/*   position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99999;
  transition:0.5s;
  height: 64px;
  box-shadow: 0px 6px 16px -6px rgba(1,1,1,0.7); */
  
}
.logo a {
/*   styling the logo */
}

nav {
  flex-grow: 1;
  margin: auto;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.nav-list li {
  margin-left: 2rem;
}

.nav-list a {
  color: var(--color-white);
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  
}

.nav-list a:hover{
  color: var(--color-grey);
}

/* NAVBAR END */

/* WELCOME SECTION */
.banner {
  top:0;
  left:0;
  font-size: 1em;
}
#welcome-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: linear-gradient(var(--color-blue-sky), var(--color-white));
  height: 100vh;
}

.banner section {
  width: 100%;
  text-align: center;
}

/* .title {
  font-size: 2px;
  font-weight: 600;
}
.description{
  font-size: 10px;
  font-weight: 400;
} */
/* WELCOME SECTION END */


/* PROJECT SECTION */
.container {
  border-radius: 10px 10px 0px 0px;
  background-color: var(--color-dark);
  width: 90%;
/*   height: 105vh; */
  margin: auto;
}

.container .btn {

/*   padding: 10px 20px; */
  color: white;
  text-align: center;
  border: 2px solid;
  font-weight: 600;
  font-size: 1em;
  box-sizing: border-box;
}

.container h2 {
  padding-top: 10px;
  text-align: center;
  color: var(--color-white);
  font-size: 2.5rem;
  font-weight: 600;
}
#projects {
  justify-content: center;
  display: grid;
  grid-template: 50% / auto auto;
  grid-gap: 20px;
  padding: 20px;
}

#projects .project-tile {
  padding: 10px 0;
}
#projects a{
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  color: var(--color-white);
}
#projects a img {
  object-fit: cover;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.show-project {
  border-radius: 0px 0px 10px 10px;
  margin: auto;
  padding: 3rem;
  width: 90%;
  background: var(--color-dark);
  text-align: center;
  margin-bottom: 20px;
}

div .btn {
  color: var(--color-white);
  background: var(--color-blue);
  border: 3px solid var(--color-dark);
  border-radius: 8px;
  padding: 10px;
  margin: auto;
}

/* END PROJECT SECTION */

/* profile section */
.profile-div {
  height: 40vh;
  padding: 50px;
  width: 100%;
  background: var(--color-blue);
  justify-content: center;
  text-align: center;
}
.profile-div h1 {
  font-size: 3em;
  margin-bottom: 10px;
}
.profile-div p {
  font-size: 1.5em;
  margin-bottom: 50px;
}
.profile-section {
  width: 100%;
  margin: auto;
  display: flex;
}
.nav-list-profile {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
#profile-link {
  display: flex;
  align-items: center;
  color: var(--color-white);
}
#profile-link img {
  width: 40px;
  margin-right: 5px;
  margin-left: 10px;
}
/* profile section end */

/* footer */
footer {
  background-image:  linear-gradient(var(--color-cream), var(--color-brown));
  padding: 30px 0px;
  text-align: center;
  width: 100%;
}
footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  font-size: 1rem;
  text-decoration: none;
  transition: 0.5s;
  color: var(--color-red);
}
footer .row ul li a{
  color: var(--color-red);
}
footer .row ul li a:hover{
  color: orange;
}
footer .row ul {
  width: 100%;
}
footer .row ul li{
display:inline-block;
margin:0px 30px;
}

/* footer end */


/* media query */
@media screen and (max-width:1190px) {
 
  footer {
  padding: 30px 0px;
  text-align: center;
  width: 100%;
}
}
